<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/debug_network_security_config">
        <service
            android:name=".debug.IsolatedExecutionProbeService"
            android:exported="false"
            android:isolatedProcess="true" />
    </application>
</manifest>
